@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.heading {
    color: aliceblue;
    padding-bottom: 20px;
    font-weight: 330;
    margin-bottom: 40px;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    padding: 10rem;
    place-content: center;
    background-image: url(image/5570834.jpg);
    background-size: cover;
    background-position: center;
}

.input-container {
    width: 300px;
    margin-bottom: 40px; /* Spacing between containers */
    border-radius: 5px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    background: white; /* Ensuring background color */
}

.input-container input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    color: #0051ff;
    font-size: 14px;
    transition: 0.3s ease;
}

.input-container label {
    font-size: 18px;
    background: transparent;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 35%; /* Adjusted value to move the label higher */
    left: 20px;
    transform: translateY(-50%);
    transition: 0.4s ease;
    color: #9d9d9d;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
    top: 0;
    transform: translateY(-150%); /* Adjusted value to move the label higher */
    scale: 0.9;
    color: #0091ff;
}

.input-container .input-bg {
    position: absolute;
    inset: -2px;
    z-index: -1;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.3s ease;
}

.input-container input:focus ~ .input-bg {
    background: linear-gradient(to right, #0091ff, #ff00fb);
    transform: scaleX(1);
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-container input[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #0091ff, #ff00fb);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-container input[type="submit"]:hover {
    background: linear-gradient(to right, #0051ff, #fb00ff);
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
