/* Center container horizontally */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    height: 100vh;
    width: 100vw;
    display: grid;
    padding: 10rem;
    place-content: center;
    background-image: url(image/5570834.jpg);
    background-size: cover;
    background-position: center;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
}

/* Basic styling for the download button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff; /* Text color */
    background-color: #007bff; /* Button background color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Darker background color on hover */
}

/* Additional styles for the 'CV' text */
.u-bolder {
    font-weight: bold;
}

.heading{
    color:#ffffff;
    
}